{% set jenkins = salt['pillar.get']('jenkins', {
  'lookup': salt['grains.filter_by']({
    'Debian': {
      'humanname': 'Jenkins upstream package repository',
      'name': 'deb http://pkg.jenkins-ci.org/debian binary/',
      'key_url': 'http://pkg.jenkins-ci.org/debian/jenkins-ci.org.key'
    },
  }, default='Debian'),

  'config': {
    'port': '8080',
    'user': 'jenkins',
    'group': 'jenkins',
    'home': '/var/lib/jenkins'
  },
}, merge=True) %}